/*** GENERAL - Presets  ***/

:root{
  --pri-font-size:36px;
  --pri-font-weight:700;
  --sec-font-size:24px;
  --sec-font-weight:700;
  --text-font-size:24px;
  --text-font-weight:700;

  --main-color: #990000;
  --gray-light:#EFEFEF;
}
/*** Margin Zero ***/
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
body{
    background-color: #000000;
    color: #FFFFFF;
    margin:auto;
    font-family: poppins, sans-serif;
}

h1,h2,h3,h4,p{
    margin: 0;
}
h1,h2{
  font-size: var(--pri-font-size);
    font-weight: var(--pri-font-weight);
}
h3,h4{
  font-size: var(--sec-font-size);
    font-weight: var(--sec-font-weight);
}
/*** GENERAL - GRID  ***/
.wrapper{
  padding: 10px;
}

/*** Review Card ***/
.review-item{
  background-color: #FFFFFF;
  color:#000000;
  border-radius: 25px;
  margin-top: 20px;
  width: 800px;
  
}
.wrapper.rev-content{
  display: flex;
  padding: 20px 15px;
  align-items: center;
}
.rev-col-1{
  flex: 1;
}
.rev-col-2{
  flex: 1;
  display: flex;
  justify-content: center;
}
.rev-score{
  background-color: var(--main-color);
}
/* 


rev-name
rev-pos-title
rev-descr
rev-col-2
 */